<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/styletests.css">
</head>

<body>
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="">Bine ai venit, <span th:text="${email}"></span>!</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="createtests">Create Tests</a></li>
                <li><a href="viewtests">View Tests</a></li>
                <li><a href="scantests">Scan Tests</a></li>
                <li><a href="home">Logout</a></li>
            </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
    </div>
</nav>

<section class="home">
</section>
<div style="height: 1000px">
    <h2 class="myH2">Automatic Test Grading Application</h2>
    <p class="myP">Automatic test grading involves the use of computer algorithms to evaluate and score student responses on assessments. This approach significantly expedites the grading process for educators, providing them with instant feedback and saving considerable time compared to manual grading methods.</p>
    <p class="myP">Some advanced systems can even evaluate open-ended questions by analyzing written responses for specific keywords or phrases.</p>
    <p class="myP">By harnessing artificial intelligence and machine learning techniques, automatic test grading not only improves efficiency in educational assessment but also ensures accuracy and consistency.</p>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/scriptnavbar.js"></script>

</body>
</html>
