<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan Tests</title>
    <link rel="stylesheet" href="/styletests.css">
</head>

<body>
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="">Bine ai venit, <span th:text="${email}"></span>!</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="createtests">Create Tests</a></li>
                <li><a href="viewtests">View Tests</a></li>
                <li><a href="scantests">Scan Tests</a></li>
                <li><a href="home">Logout</a></li>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>

<section class="home">
</section>

<div class="table-container">
    <table>
        <thead>
        <tr>
            <th>Test ID</th>
            <th>Test Name</th>
            <th>Answers</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="test : ${tests}">
            <td th:text="${test.id}" class="test-id"></td>
            <td th:text="${test.testName}" class="test-name"></td>
            <td th:text="${correctAnswersMap[test.id]}"></td>
            <td>
                <button type="button" class="toggle-button">Show Questions</button>
                <ul class="questions-list" style="display: none;">
                    <li th:each="question : ${questionsMap.get(test.id)}">
                        <span th:text="${question.question}" class="question-text"></span>
                        <button type="button" class="toggle-button-show-answers">Show Answers</button>
                        <ul class="answers-list" style="display: none;">
                            <li th:each="answer : ${answersMap.get(question.id)}">
                                <span th:text="${answer.answerLetter}"></span>
                                <span th:text="${answer.answer}"></span>
                                <span th:if="${answer.correct}" class="correct-answer">(Correct)</span>
                            </li>
                        </ul>
                    </li>
                </ul>
                <input class="upload-input" type="file" id="imageInput" accept="image/*">
                <button class="upload-button" onclick="uploadAndScanImage()">Scan Image</button>
                <div class="table-container">
                    <div id="scannedText"></div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/uploadtest.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/scriptnavbar.js"></script>
<script src="/toggle.js"></script>

</body>
</html>
