<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Tests</title>
    <link rel="stylesheet" href="/styletests.css">
</head>

<body>
<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="login">Home</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="createtests">Create Tests</a></li>
                <li><a href="viewtests">View Tests</a></li>
                <li><a href="scantests">Scan Tests</a></li>
                <li><a href="home">Logout</a></li>
            </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
    </div>
</nav>

<section class="home">
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/scriptnavbar.js"></script>

</body>
</html>
